/* General Layout */

.App {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    font-family: 'Paris2024Font', sans-serif; /* Update this with the specific font you find */
    color: #EDEDED;
    background-color: #121212; /* Dark background */
    margin: 0;
    padding: 0;
}

/* Landing Page Styles */
.landing-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's above the globe */
    background-image: url('https://i.pinimg.com/originals/d4/97/7c/d4977c5fc5c792dbbd143948e505a9e0.jpg'); /* Adjust the path as necessary */
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background for better readability */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1002; /* Ensure it is on top of everything */
}

.landing-page h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #FFD700; /* Gold color for the text */
    margin-bottom: 20px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.start-button {
    padding: 15px 30px;
    background-color: #FFFFFF; /* White background */
    border: none;
    border-radius: 8px;
    color: #000000; /* Black text */
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    animation: fadeIn 3s ease-in-out;
    text-align: center;
}

.start-button:hover {
    background-color: #E0E0E0; /* Light grey background on hover */
}

/* Olympic Logo Style */
.olympic-logo {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 200px; /* Adjust size as needed */
    z-index: 1002; /* Ensure it appears above the content */
    animation: fadeIn 3s ease-in-out;
}

/* Make sure the fade-out animation is not hiding the main content */
.fade-out {
    animation: fadeOut 1s ease-in-out forwards;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      visibility: hidden; /* Ensures it is hidden after fade-out */
    }
  }
  
  .main-content {
    display: flex;
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
    z-index: 1001; /* Ensure it appears above other content */
  }
  